@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
* {
  font-family: "Rubik", sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  font-family: "Rubik", sans-serif;

  background-color: #e2e8f0;
  /* 300 */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px #cbd5e1;
}

*::-webkit-scrollbar {
  display: none;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  background: #cbd5e1;

  border: 3px solid #f8fafc;

  box-shadow: 0 0 0 1px#cbd5e1;
}
input[type="radio"]:checked {
  background-color: #0f172a;
}
shadow-custom {
  box-shadow: 0 0 0 1px#cbd5e1;
}

.my-blur {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
